body {
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  color: #fff;
  background: #272a2f;
}
.header {
  background-color: #19849b;
  height: 58px;
}
.header-title__name {
  height: 34px;
  font-weight: 700;
  font-size: 30px;
  line-height: 34.47px;
  text-align: center;
  padding-top: 8px;
}
hr {
  display: none;
  color: #19849b;
}
.about {
  margin-top: 51px;
}
.about-text__theme {
  font-weight: 700;
  font-size: 30px;
  height: 68px;
  line-height: 34.47px;
  margin-bottom: 30px;
}
.about-text__theme-main {
  font-weight: 700;
  line-height: 27.58px;
  font-size: 24px;
  height: 56px;
  margin-bottom: 30px;
  width: 559px;
}
.about-text__theme-more {
  height: 90px;
  width: 559px;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.38px;
  margin-bottom: 30px;
}

#contactModal .modal-content {
  background-color: #272a2f;
  color: white;
  width: 656px;
  height: 586px;
  margin-left: 9px;
}
.btn-secondary {
  border: 2px solid #ffffff;
  background-color: #272a2f;
  width: 293px;
  margin-top: 45px;
}

#contactModal .modal-header {
  border-bottom: unset;
}

.form-field {
  margin-bottom: 15px;
}
textarea.form-control {
  height: 200px;
}
.portfolio {
  margin-top: 104px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1%;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  height: 36px;
  width: 766px;
}
.portfolio-gallery {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 25px;
}
.portfolio-gallery img {
  width: 300px;
  transition: 0.5s;
}
.portfolio-gallery img:hover {
  transform: scale(1.5);
}
/* .portfolio-gallery a {
  opacity: 0;
  position: absolute;
} */
/* .portfolio-gallery:hover a {
  opacity: 1;
} */
.footer {
  background: #19849b;
  margin-top: 30px;
}
.footer-content {
  display: flex;
  justify-content: center;
  height: 161px;
  flex-direction: row;
  align-items: center;
}
.footer-content__foto {
  width: 132px;
  height: 132px;
  padding-top: 35px;
}
.footer-content__foto-img {
  border-radius: 50%;
  width: 94px;
  height: 94px;
}
.footer-content__contacts {
  height: 76px;
}
.footer-content__contacts-name {
  width: 194px;
  height: 25px;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
}
.footer-content__contacts-phone {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.footer-content__contacts-place {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.footer-rights {
  background: #16758a;
  height: 44px;
}
.footer-rights__text {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  padding-top: 7px;
}
@media (max-width: 1200px) {
  .header {
    width: 100%;
  }
  .btn-secondary {
    margin-top: -20px;
  }
  .portfolio-gallery img {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }
  .about-text {
    margin-top: 65px;
  }
  .about-text__theme {
    width: 762px;
  }
  hr {
    display: block;
    width: 700px;
  }
  hr:not([size]) {
    height: 2px;
  }

  #contactModal .modal-content {
    width: 500px;
  }
  .form-control {
    background: #324b53;
    color: white;
  }
  textarea.form-control {
    height: 200px;
  }
  .portfolio {
    margin-top: 30px;
  }
  .portfolio-text {
    width: 655px;
  }
  .portfolio-gallery {
    position: relative;
    margin-top: 28px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 25px;
  }
  .portfolio-gallery img {
    width: 110px;
  }
  .footer {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .header {
    width: 100%;
  }
  .about-text__theme-more {
    width: 100%;
  }
  .btn-secondary:hover {
    background: #19849b;
  }
  hr {
    display: block;
    width: 500px;
  }
  hr:not([size]) {
    height: 3px;
  }
  #contactModal .modal-content {
    width: 350px;
  }
  .portfolio-text {
    width: 100%;
  }
  .portfolio-gallery {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 25px;
  }
  .portfolio-gallery img {
    width: 230px;
  }
  /* .portfolio-gallery__zoom {
    opacity: 0;
    background-image: url(img/zoom.svg) no-repeat center;
    position: absolute;
  }
  .portfolio-gallery__zoom:hover i {
    opacity: 1 ;
  } */
}
